{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "as-needed",
  "printWidth": 60,
  "proseWrap": "always",
  "bracketSpacing": true
}